footer {
    background-image: url(https://fieldnotes.imgix.net/images/kraft-bg.jpg?auto=format&ixlib=php-1.1.0&q=55&s=373323da9de5c0400dda656185f7b2a5);
    .topfooter {
        text-align: center;
    }
    .topmiddle {
        font-weight: 800;
        ul {
            list-style: none;
        }
    }
} 