section.twopics {
    .left {
        background-image: url(https://fieldnotes.imgix.net/images/AB_brands.jpg?auto=format&ixlib=php-1.1.0&q=55&s=f795ccfa526ae21adadbf533b93ded92);
        background-size: cover;
        text-align: center;
        color: white;
        height: 300px;
    }
    .right {
        background-image: url(https://fieldnotes.imgix.net/images/home_B_ledger.jpg?auto=format&ixlib=php-1.1.0&q=55&s=d77ca94d713b5825c0555f6ea61711c1);
        background-size: cover;
        height: 300px;
        text-align: center;
    }
}