section.twopics {
    .left {
        background-image: url(https://fieldnotes.imgix.net/images/AB_brands.jpg?auto=format&ixlib=php-1.1.0&q=55&s=f795ccfa526ae21adadbf533b93ded92);
        background-size: cover;
        text-align: center;
        color: white;
        padding-top: 82.5px;
        padding-bottom: 82.5px;
        p {
            margin: 0;
            font-weight: 800;
        }
        h1 {
            margin: 0;
        }
        .link {
            padding-top: 15px;
            a {
                text-decoration: none;
                color: white;
                font-size: .9em;
                border: 1px solid white;
                padding: 5px 20px;
            }
        }
    }
    .right {
        background-image: url(https://fieldnotes.imgix.net/images/home_B_ledger.jpg?auto=format&ixlib=php-1.1.0&q=55&s=d77ca94d713b5825c0555f6ea61711c1);
        background-size: cover;
        text-align: center;
        padding-top: 94.5px;
        padding-bottom: 94.5px;
        p {
            margin: 0;
            font-weight: 800;
        }
        p.georgia {
            font-family: Georgia;
            color: #AEA288;
            padding-top: 15px;
        }
        .link {
            padding-top: 15px;
            a {
                text-decoration: none;
                color: black;
                font-size: .9em;
                border: 1px solid black;
                padding: 5px 20px;
            }
        }
    }
}